<form (submit)="onSubmit()" [formGroup]="form" novalidate autocomplete="off">
  <!-- Name -->
  <div class="form-control-row">
    <div>
      <label>Name :</label> <input formControlName="name" type="text" />
    </div>
    <div class="error-block" *ngIf="nameCtrl.errors && nameCtrl.dirty">
      <p *ngIf="nameCtrl.errors['required']">The user name is required</p>
      <p *ngIf="nameCtrl.errors['minlength']">
        The user name must be at least 3 characters
      </p>
    </div>
  </div>
  <!-- Sex -->
  <div class="form-control-row">
    <div class="sex-block">
      <span>Sex : </span>
      <label for="sex-f"
        >F<input
          formControlName="sex"
          value="F"
          name="sex"
          id="sex-f"
          type="radio"
      /></label>
      <label for="sex-m"
        >M<input
          formControlName="sex"
          value="M"
          name="sex"
          id="sex-m"
          type="radio"
      /></label>
      <label for="sex-o"
        >O<input
          formControlName="sex"
          value="0"
          name="sex"
          id="sex-o"
          type="radio"
      /></label>
    </div>
    <div class="error-block" *ngIf="sexCtrl.errors && sexCtrl.dirty">
      <p *ngIf="sexCtrl.errors['required']">The user sex is required</p>
    </div>
  </div>
  <div class="actions-btns">
    <button type="reset">Reset</button>
    <button [disabled]="form.invalid" type="submit">Submit</button>
  </div>
</form>

<!-- 
  

<div>Dirty : {{ nameCtrl.dirty | json }}</div>
<div>Touched : {{ nameCtrl.touched | json }}</div> -->
<!-- NgModel/Template Drive Form -->
<!-- <div class="form-control-row">
  <label>Name :</label>
  <input [(ngModel)]="name" type="text" />
</div>

<div>
  {{ name }}
</div> -->
