* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}
html {
  font-size: 10px;
}
body {
  color: #444;
}
header nav li {
  list-style: none;
}

p {
  margin: 1em 0;
}
p,
ol,
ul,
li,
input,
a {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-family: inherit;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
h1 {
  font-size: 4rem;
  display: inline-block;
  margin: 1.6rem 0;
}
h2 {
  font-size: 3.2rem;
  margin-top: 4rem;
}

h3 {
  font-size: 2.4rem;
  margin-top: 3rem;
  clear: both;
}

header,
footer {
  padding: 20px;
  background-color: #1976d2;
  color: #fff;
}
header h1 {
  text-align: center;
  font-size: 32px;
  display: block;
  margin: 0;
  color: #fff;
}

header h1 a {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header nav li a,
header h1 li a {
  color: #fff;
  text-decoration: none;
}
header nav li a {
  display: inline-block;
  padding: 10px 20px;
}
header nav li:hover {
  background-color: #75aade;
}
main {
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  min-height: 83vh; /* 100vh; */
}
footer {
  text-align: center;
}
main li {
  list-style-position: inside;
}

main h1 {
  color: #868282;
  text-align: center;
  display: block;
}
