<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Training</title>
    <link
      rel="stylesheet"
      href="https://rblmdst.github.io/angular-training-gdg-lome/assets/css/style.css"
    />
  </head>
  <body>
    <header>
      <img
        src="https://rblmdst.github.io/angular-training-gdg-lome/assets/images/angular.svg"
        alt="angular-logo"
      />
      <h1>
        <a href="https://rblmdst.github.io/angular-training-gdg-lome"
          >Angular Training - Initiation à Angular</a
        >
      </h1>
      <nav>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome"
            >A propos</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-1"
            >Jour 1</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-2"
            >Jour 2</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-3"
            >Jour 3</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-4"
            >Jour 4</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-5"
            >Jour 5</a
          >
        </li>
        <li>
          <a href="https://rblmdst.github.io/angular-training-gdg-lome/day-6"
            >Jour 6</a
          >
        </li>
      </nav>
    </header>
    <main>{{content}}</main>
    <footer>&copy; 2023 Dev Propulsor</footer>

    <section></section>
  </body>
</html>
