<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Training - Initiation à Angular</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Angular Training - Initiation à Angular</h1>
      <nav>
        <li><a href="/day-1">Jour 1</a></li>
        <li><a href="/day-2">Jour 2</a></li>
        <li><a href="/day-3">Jour 3</a></li>
        <li><a href="/day-4">Jour 4</a></li>
        <li><a href="/day-5">Jour 5</a></li>
        <li><a href="/day-6">Jour 6</a></li>
      </nav>
    </header>
    <main>{{content}}</main>
    <footer>&copy; 2023 Dev Propulsor</footer>

    <section></section>
  </body>
</html>
